<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="/js/connect.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/styleaccueil.css">
	<link rel="stylesheet" type="text/css" href="/css/styleform.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/profil.css">
	<title>SetOnline</title>
</head>
<body>
	<div id="header">
		<img src="/img/tronc.png" id="fondLogo" alt="fondLogo">
		<div id="clear"></div>
		<div id="containerSet">
			<span id="setonline">SetOnline</span>
		</div>
		<div id="menu">
			<a href="/accueil">
			<img alt="plancheA" id="plancheAccueil" class="planche" src="/img/plancheA.png" />
			</a>
			<a href="/game">
			<img alt="plancheJ" id="plancheJouer" class="planche" src="/img/plancheJ.png" />
			</a>
			<a href="/profil" id="profil">
			<img alt="plancheP" id="plancheProfil" class="planche" src="/img/plancheP.png" />
			</a>
			<a href="/classement">
			<img alt="plancheC" id="plancheClassement" class="planche" src="/img/plancheC.png" />
			</a>
		</div>
	</div>
    <header>
	    <div id="connexion">
			<div id="pasco">
				<form>
					<label for="pseudo" class="bb">Pseudo</label>
					<input type="text" id="pseudo" required />
					<label for="mdp" class="bb">Mot de passe</label>
					<input type="password" id="mdp" required />
					<input type="button" class="btn bb" value="Submit" onclick="connexion()">
				</form>
				<a href="/inscription" class="bb" id="insc"> Pas encore de compte? </a>
			</div>
			<div id="co">
				<span class="bb" id="bj">Bonjour</span>
				<span class="bb" id="pseudoCo"></span>
				<button type="button" class="btn bb" onclick="deco()">Deconnexion</button> 
			</div>
        </div>
    </header>

    <div id="contenu">
		<h2 class="orangej">Présentation</h2>
		<p class="bb" id="presentation">
		SetOnline est un jeu produit par l'équipe Pancake, composée de Matthieu Morin, Pierre Cavalet, Olivier Saint-Paul et Marlène Guillemette. Ce projet a permis à ces étudiants de découvrir de nombreuses technologies dans le but de leur TER de master informatique (1ere année).
		Il a été développé en 3 mois durant lesquels l'équipe a produit:
		<ul>
			<li class="bb">Un serveur nodeJS communiquant avec une base de données mysql, tous deux étant stockés sur un VPS;</li>
			<li class="bb">Un client navigateur, fonctionnant sur pc ainsi que sur tablette;</li>
			<li class="bb">Un client android.</li>
		</ul>
		<h2 class="orangej">Règles du jeu</h2>
		<p class="bb" id="regles">
		Le jeu est constitué de 81 cartes toutes différentes qui se distinguent selon 4 caractéristiques :
		<ul>
			<li class="bb">Nombre : 1, 2 ou 3;</li>
			<li class="bb">Couleur : rouge, vert ou bleu;</li>
			<li class="bb">Forme : triangle, sphère ou éclair;</li>
			<li class="bb">Contenu : vide, hachuré ou plein.</li>
		</ul>
		</p>
		<p class="bb" id="regles">
		L' objectif du jeu est de trouver le maximum de sets. Un set est composé de trois cartes dont les quatre caractéristiques (prises séparément) sont :
		<ul>
			<li class="bb">
				Soit totalement identiques (par exemple les trois cartes ont la même couleur);
			</li>
			<li class="bb">
				Soit totalement différentes (par exemple chacune des trois cartes est d'une couleur différente).
			</li>
		</p>
    </div>
<% include footer.ejs %>