 <% include header.ejs %>
    <div id="contenu">
		<p>Classement</p>
		<table id="classement">
			<tr>
				<th>Pseudo</th>
				<th>Nombre de points</th>
			</tr>
		</table>
	</div>
<% include footer.ejs %>