<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <!--<script src="/js/connect.js"></script>-->
	<script src="/js/classement.js"></script>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="./stylejeu.css">
    <title>Accueil</title>
</head>
<body>
    
    <div id="contenu">
		<p>Classement</p>
		<table id="classement">
			<tr>
				<th>Pseudo</th>
				<th>Nombre de points</th>
			</tr>
		</table>
	</div>

</body>
</html>