<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    
    <script src="/js/jeu.js"></script>
	

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/stylejeu.css">
    <title>SetOnline</title>
</head>
<body>
    <div id="contenu">
		<img src="/img/sablier.gif" id="sablier" alt="Sablier">
		<span class="orangej" id="timer"></span>
		<img src="/img/boom.png" id="boom" alt="boom">
		<span id="nbdepts">0</span>
		<div id="classement">
			<div class='personneC'><img src = '/img/boom.png' class='numC'><span class='valueC'>1</span><span class='pseudoC'>Annie</span><img src='/img/avatar.png' class='avatarC'>
			</div>
			<div class='personneC'><img src = '/img/boom.png' class='numC'><span class='valueC'>2</span><span class='pseudoC'>Annie</span><img src='/img/avatar.png' class='avatarC'>
			</div>
		</div>
	
		<div id="AncienClassement">
		</div>
		<div id="nbSetsdiv">
			<span id="nbSetsTrouves" class="nb orangej"></span>
			<span class="nb orangej">/</span>
			<span id="nbSets" class="nb orangej"></span>
		</div>
        <div id="trouves"></div>
		<img src="/img/planche.png" class="planche" id="plancheH" alt="planche">
		<img src="/img/plancheV.png" class="planche" id="plancheD" alt="planche">
		<img src="/img/plancheV.png" class="planche" id="plancheG" alt="planche">
		<div id="jeu"></div>
		<img src="/img/planche.png" class="planche" id="plancheB" alt="planche">
    </div>
</body>
</html>