<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="/css/jquery-ui.css">
		<script src="/js/sweetalert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    
    <script src="/js/jeu.js"></script>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/stylejeu.css">
    <title>SetOnline</title>
</head>
<body>
    <div id="contenu">
		<img src="/img/star.png" id="etoile1" class="etoile" alt="etoile">
		<img src="/img/star.png" id="etoile2" class="etoile" alt="etoile">
		<img src="/img/star.png" id="etoile3" class="etoile" alt="etoile">
		<img src="/img/Negatif.png" id="Negatif" class="visage" alt="rate">
		<img src="/img/Positif.png" id="Positif" class="visage" alt="reussi">
		<a href="/accueil"><img src="/img/fleche.gif" id="fleche" alt="flecheBack"></a>
		<img src="/img/sablier.gif" id="sablier" alt="Sablier">
		<span class="orangej" id="timer"></span>
		<img src="/img/boom.png" id="boom" alt="boom">
		<span id="nbdepts" class="bb">0</span>
		<span id="nbPtsGagne" class="bb"></span>
		<img src="/img/boom.png" id="imgnbPtsGagne" alt="boooom">
		<div id="classement">
		</div>
		<div id="AncienClassement">
		</div>
		<div id="nbSetsdiv" title="">
			<span id="nbSetsTrouves" class="nb orangej "></span>
			<span class="nb orangej">/</span>
			<span id="nbSets" class="nb orangej"></span>
		</div>
		<img src="/img/planche.png" class="planche" id="plancheH" alt="planche">
		<img src="/img/plancheV.png" class="planche" id="plancheD" alt="planche">
		<img src="/img/plancheV.png" class="planche" id="plancheG" alt="planche">
		<div id="jeu"></div>
		<img src="/img/planche.png" class="planche" id="plancheB" alt="planche">
	</div>
</body>
</html>