<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="/js/jeu.js"></script>
	

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/stylejeu.css">
    <title>SetOnline</title>
</head>
<body>
    <div id="contenu">
		<img src="/img/sablier.gif" id="sablier" alt="Sablier">
		<p class="orangej" id="timer"></p>
		<img src="/img/boom.png" id="boom" alt="boom">
        <div id="jeu"></div>
		<p id="nbSets" class="orangej"></p>
        <div id="trouves"></div>
    </div>
</body>
</html>