<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="/js/connect.js"></script>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/styleaccueil.css">
	<link rel="stylesheet" type="text/css" href="/css/styleform.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>SetOnline</title>
	<img src="/img/logo.png" id="logo" align:middle alt="Logo_SetOnline">
		<p id="setonline">SetOnline</p>

        <div class="clear"></div>
</head>
<body onload="estConnecte()">