<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="/js/inscription.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/styleaccueil.css">
	<link rel="stylesheet" type="text/css" href="/css/styleform.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/profil.css">
    <title>SetOnline</title>
	<img src="/img/logo.png" id="logo" align:middle alt="Logo_SetOnline">
	<p id="setonline">SetOnline</p>

</head>
<body>
    <div id="inscription">
            <form>
                <label class="labelinscription" for="pseudo">Pseudo: </label>
                <input type="text" minlength="3" maxlength="20" id="pseudo" required /><br />
				<label class="labelinscription" for="adr">Adresse mail: </label>
                <input type="email" id="mail" required /><br />
                <label class="labelinscription" for="mdp">Mot de passe</label>
                <input type="password" id="mdp" minlength="3" maxlength="20" required /><br />
				<label class="labelinscription" for="avatar">Avatar</label>
				<input type="file" id="avatar" accept="image/*"/><br />
                <input type="button" id="connect" value="Submit" onclick="creationCompte()">
            </form>
        </div>
<% include footer.ejs %>