<% include header.ejs %>
    <div id="inscription">
            <form>
                <label class="labelinscription" for="pseudo">Pseudo: </label>
                <input type="text" minlength="3" maxlength="20" id="pseudo" required /><br />
				<label class="labelinscription" for="adr">Adresse mail: </label>
                <input type="email" id="mail" required /><br />
                <label class="labelinscription" for="mdp">Mot de passe</label>
                <input type="password" id="mdp" minlength="3" maxlength="20" required /><br />
				<label class="labelinscription" for="avatar">Avatar</label>
				<input type="file" id="avatar" accept="image/*"/><br />
                <input type="button" id="connect" value="Submit" onclick="creationCompte()">
            </form>
        </div>
<% include footer.ejs %>