<% include header.ejs %>
    <div id="contenu">
        <span id="name">Henry</span>
        <img alt="avatar" src="/img/logo.png" />
        <div id="medailles">
            <h2>Médailles :</h2>
            <img class="medaille" alt="medaillenum" src="./medaille.jpg" />
            <img class="medaille" alt="medaillenum" src="./medaille.jpg" />
            <img class="medaille" alt="medaillenum" src="./medaille.jpg" />
            <img class="medaille" alt="medaillenum" src="./medaille.jpg" />
        </div>

        <div id="trophes">
            <h2>Trophés :</h2>
            <img class="trophe" alt="trophenum" src="./trophe.jpg" />
            <img class="trophe" alt="trophenum" src="./trophe.jpg" />
            <img class="trophe" alt="trophenum" src="./trophe.jpg" />
            <img class="trophe" alt="trophenum" src="./trophe.jpg" />
        </div>

        <div id="amis">
            <h2>Amis :</h2>
            <img class="ami" alt="aminom" src="./ami.jpg" />
            <img class="ami" alt="aminom" src="./ami.jpg" />
            <img class="ami" alt="aminom" src="./ami.jpg" />
            <img class="ami" alt="aminom" src="./ami.jpg" />
        </div>

        <div id="rangs">

        </div>

		<div id="modifProfil">
			<form>
				<label for="Ancien_mdp">Ancien mot de passe: </label>
				<input type="password" id="Ancien_mdp" />
				<label for="Nouveau_mdp">Nouveau mot de passe: </label>
				<input type="password" id="Nouveau_mdp" />
				<label for="avatar">Avatar</label>
				<input type="file" id="avatar" accept="image/*"/>
				<input type="button" onclick="ModifierProfil()"></button>
			</form>
        </div>
    </div>
	<% include footer.ejs %>