<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.3.js"></script>
    <script src="/js/monprofil.js"></script>

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/styleaccueil.css">
	<link rel="stylesheet" type="text/css" href="/css/styleform.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/profil.css">
	<title>SetOnline</title>
</head>
<body>
	<img src="/img/logo.png" id="logo" align:middle alt="Logo_SetOnline">
	<p id="setonline">SetOnline</p>
    <div id="contenu">
        <span id="pseudoConnecte"></span>
        <img alt="avatar" id="avatarProfil" src="/img/avatar.png" />
        <div id="medailles">
            <h2>Médailles :</h2>
            <img class="miniature" alt="medaillenum" src="/img/logo.png" title="nom médaille"/>
            <img class="miniature" alt="medaillenum" src="/img/logo.png" title="nom médaille"/>
			<img class="miniature" alt="medaillenum" src="/img/logo.png" title="nom médaille"/>
			<img class="miniature" alt="medaillenum" src="/img/logo.png" title="nom médaille"/>
        </div>

        <div id="trophes">
            <h2>Trophés :</h2>
            <img class="miniature" alt="trophenum" src="/img/boom.png" title="nom trophé"/>
			<img class="miniature" alt="trophenum" src="/img/boom.png" title="nom trophé"/>
			<img class="miniature" alt="trophenum" src="/img/boom.png" title="nom trophé"/>
        </div>

        <div id="liste_amis">
        </div>

		<div id="liste_demandes_amis">
        </div>

        <div id="rangs">
        </div>

		<div id="modifProfil">
			<form>
				<label for="Ancien_mdp">Ancien mot de passe: </label>
				<input type="password" id="Ancien_mdp" />
				<label for="Nouveau_mdp">Nouveau mot de passe: </label>
				<input type="password" id="Nouveau_mdp" />
				<label for="avatar">Avatar</label>
				<input type="file" id="avatar" accept="image/*"/>
				<input type="button" value="Modifier" onclick="ModifierProfil()"></button>
			</form>
        </div>
    </div>
	<script src="/js/monprofil.js"></script>
	<% include footer.ejs %>