.miniature{
    width:50px;
    height:50px;
}

#avatarProfil{
    width:200px;
    height:200px;
}

.isconnect{
    width:1%;
}

.bt{
    width:2%;
    padding-left:5px;
}

#pseudoATrouver{
    display:none;
}