body{
    /*background:black url(background.jpg) ;*/
    background: url("/img/sable2.jpg") repeat;
}

#contenu{
	width:90%;
	margin:auto;
	padding:10px;
    position:relative;
}

#jeu{
    padding-top:2%;
    padding-bottom:2%;
    margin:auto;
    margin-top:5%;
    width:60%;
    border-radius: 25px;
    text-align: center;
    background: url("/img/fondJeu.png") repeat;
}

    .carte{
        width:28%;
    }

    .carte:hover{
        filter: contrast(150%);
    }

.planche{
    z-index:4;
    position:absolute;
}

#plancheH{
    left:19%;
    top:0%;
    width:62%;
    z-index:3;
}
#plancheD{
    /**planche verticale*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top:47%;
    width:40%;
    left:60%;
    z-index:2;
}
#plancheG{
    /**planche verticale*/
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    z-index:2;
    top:47%;
    width:40%;
}
#plancheB{
    left:19%;
    top:94%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width:62%;
    z-index:3;
}

#timerdiv{
    float:left;
    position: relative; 
}

    #sablier{
        width:80px;
        z-index:2;
        position:absolute;
    }

    #timer{
       font-weight: bold;
       text-align: center;
       font-size: 23px;
       top:40px;
       left:33px;
       z-index:3;
       position:absolute;
    }

#boomdiv{
    left:60px;
    top:180px;
    position:relative;
    float:left;
}
    #boom{
        width:150px;
        height:150px;
        z-index:2;
        position:absolute;
    }

    #nbdepts{
        /**bonne police + positionnement*/
       font-weight: bold;
       text-align: center;
       font-size: 42px;
       top:40px;
       left:65px;
       z-index:3;
       position:absolute;
    }

#classement {
    position:relative;
    float:right;
}
    .personneC{
        margin:10px;
        border-radius:25px;
    }
        .numC{
            width:30px;
            height:30px;
            position:absolute;
            z-index:2;
            left:-25px;
        }
        .valueC{
            z-index:3;
            position:absolute;
            left:-20px;
        }
        .avatarC{
            width:30px;
            float:right;
            height:30px;
        }
        .pseudoC{

        }

#AncienClassement {
    position:relative;
    float:right;
    margin-top:350px;
}
    .personneAC{
        margin:10px;
        border-radius:25px;
    }
        .numAC{
            width:30px;
            height:30px;
            position:absolute;
            z-index:2;
            left:-25px;
        }
        .valueAC{
            z-index:3;
            position:absolute;
            left:-20px;
        }
        .avatarAC{
            width:30px;
            float:right;
            height:30px;
        }
        .pseudoAC{

        }

#nbSetsdiv{
    float:right;
    position:relative;
    right:0px;
    top:180px;
}
    .nb{
       font-weight: bold;
       text-align: center;
       font-size: 46px;
    }
    #nbSetsTrouves{
       
    }
    #nbSets{
      
    }









/*carte miniature (setstrouves)*/
.mincarte{
    padding:10px;
    width:140px;
}

/*Gestion du bloc contenant les sets trouves*/
#trouves{
    width:490px;
    float:left;
    border-radius: 25px;
    background-color: #E0B872;
    text-align: center;
}

/*gestion police*/
@font-face {
    font-family:"OrangeJuice";
    src: url("/fonts/orange_juice_20.ttf") /* EOT file for IE */
}
@font-face {
    font-family:"OrangeJuice";
    src: url("/fonts/orange_juice_20.ttf") /* TTF file for CSS3 browsers */
}

.orangej {
    font-family:'OrangeJuice';
}
