#jeu{
    width:700px;
    float:left;
    border-radius: 25px;
    background-color: #1f454d;
    text-align: center;
    margin: 40px auto;
}

.carte{
    margin-right:15px;
    margin-bottom:15px;
    width:200px;
}

.carte:hover
{
        filter: contrast(150%);
}

.mincarte{
    padding:10px;
    width:140px;
}

#trouves{
    width:490px;
    float:left;
    border-radius: 25px;
    background-color: #1f454d;
    text-align: center;
}

#sablier{
    max-width: 100%;
    width:80px;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
}

#contenu{
    width:50%;
    margin:auto;
}

body{
    background:black url(background.jpg) repeat-x left top;
}

#idTIMER {
    color: white;
    font-weight: bold;
}

#timer{
   font-weight: bold;
   text-align: center;
   position: absolute; 
   top: 84px; 
   left: 0; 
   width: 100%; 
}

#idSetsTrouvables {
    color: white;
    font-weight: bold;
}